html{
    box-sizing: border-box;
    font-size: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    max-width: 100%;
    width:100%;
}

*{
    font-family: inherit;
    color: inherit;
}