html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  max-width: 100%;
  width: 100%;
}

* {
  font-family: inherit;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1E1E1E;
  color: #fff;
}

.main {
  background-color: #1E1E1E;
  background-image: url("../images/main-back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav.nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  flex-grow: 1;
  text-align: center;
}

a.btn {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
}

.menu > a {
  margin: 0px 15px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

.center-b-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: calc(100% - 100px);
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}

.b-title {
  text-align: center;
  font-size: 6em;
  color: #fff;
  font-weight: bold;
}

.b-description {
  color: #cdcdcd;
  font-size: 56px;
  text-align: center;
}

.btn-box-green {
  margin-top: 20px;
  cursor: pointer;
}

a.btn-green {
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #50B05A;
  border-radius: 50px;
  color: #fff;
}

a.btn-green > img {
  margin-left: 15px;
  height: 25px;
  width: auto;
}

.section-title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
}

.about {
  padding: 10px 20px;
}

.section-content {
  display: flex;
}

.about > .section-content {
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
}

.fact-wrapper {
  max-width: 300px;
  text-align: center;
  background: linear-gradient(90deg, black, #3F3F3F);
  padding: 15px 20px;
  border-radius: 5px;
}

.fact-logo {
  height: 165px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact-title {
  font-size: 40px;
  font-weight: bold;
}

.fact-description {
  font-size: 20px;
}

.fact {
  max-width: calc(33.3333333333% - 40px);
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fact:first-child {
  border-right: none;
}

.fact:last-child {
  border-left: none;
}

.top_bar {
  display: flex;
  align-items: center;
}

.project-logo > img {
  height: 40px;
  width: 60px;
}

.project-title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 15px;
}

.description {
  font-size: 25px;
}

.project-wrapper {
  max-width: 600px;
  padding: 10px 20px;
  background: #3f3f3f;
  border-radius: 5px;
}

.projects > .section-content {
  flex-wrap: wrap;
  display: flex;
}

.invest > a {
  border: none;
}

.btn.invest {
  border: none;
  background: #5082B0;
  display: flex;
  align-items: center;
  font-size: 20px;
  width: 170px;
  justify-content: center;
}

.btn.invest > img {
  height: 100%;
  width: 25px;
}

.btn.read {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 135px;
  justify-content: center;
  border: none;
  background: #51b05a;
}

.btn.read > img {
  margin-left: 5px;
  width: 25px;
}

.btn.use {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 155px;
  justify-content: center;
  border: none;
  background: #51b05a;
}

.btn.use > img {
  margin-left: 5px;
  width: 25px;
}

.btn-box {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.project {
  max-width: calc(50% - 40px);
  padding: 20px;
}

@media screen and (max-width: 600px) {
  .b-title {
    font-size: 4em;
  }
  .b-description {
    font-size: 2em;
  }
  .nav {
    flex-direction: column;
  }
  .btn-box {
    margin-top: 20px;
  }
  .menu {
    margin-top: 5px;
  }
  .section-content {
    flex-direction: column;
  }
  .fact:first-child {
    border-right: none;
    border-bottom: none;
  }
  .fact:last-child {
    border-left: none;
    border-top: none;
  }
  .fact {
    max-width: calc(100% - 40px);
    padding: 20px;
  }
  .section-title {
    font-size: 40px;
  }
  .project {
    max-width: calc(100% - 20px);
    padding: 10px 20px;
  }
  .top_bar {
    flex-direction: column;
  }
  .top_bar img {
    width: 100px !important;
  }
  .description {
    font-size: 18px;
  }
  .btn-box {
    flex-direction: column;
    display: flex;
  }
  .btn-box > a {
    max-width: 100%;
    width: calc(100% - 40px) !important;
    margin: 5px 0px;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .b-title {
    font-size: 5em;
  }
  .b-description {
    font-size: 3em;
  }
}/*# sourceMappingURL=main.css.map */